

<!-- WHAT WE DO SECTION ############################################### --><section id="whatwedo"> 

<div class="row"> 

<div class="twelve columns centered"> <h2>what we do <i class="title_line"></i> </h2> 
</div> 
</div> 

<div class="row"> 

<div class="eleven columns centered"> 

<p class="subtittle" >transdisciplinarity is our <a href="#">moto</a>.</p> 
</div> 
</div> 

<div class="row"> 
<!-- WORKS GRID -->
<ul id="og-grid" class="og-grid">
<li><a href="http://vimeo.com/63840499" data-largesrc="img/thumbs/couchkick.png" data-title="Couchkick" data-description="Entrepreneur Matchmaking Platform"><img src="img/thumbs/couchkickthumb.png" alt="img01"/></a></li>
<li><a href="http://www.headblendr.com" data-largesrc="img/thumbs/headblendr.png" data-title="Headblendr" data-description="Our Baby. A social-powered EDM Music Crowdfunding Platform"><img src="img/thumbs/headblendrthumb.png" alt="img01"/></a></li>
<li><a href="http://www.feiradostecidos.com" data-largesrc="img/thumbs/feira.png" data-title="Feira dos Tecidos" data-description="The largest consumer textile chain asked us for an online store. We delivered"><img src="img/thumbs/feirathumb.png" alt="img01"/></a></li>



</ul>
<!-- END WORKS GRID -->
</div></section>
<!-- END WHAT WE DO SECTION ############################################### -->
<!-- WHO ARE US SECTION ############################################### --><section id="about"> 

<div class="row"> 

<div class="twelve columns centered"> <h2>who we are <i class="title_line"></i> </h2> 
</div> 
</div> 

<div class="row"> 

<div class="eleven columns centered"> 

<p class="subtittle" >The most important thing to us is
<br> building products people love.</br> plus we have really cool avatars</p> 
</div> 
</div> 

<div class="row"> 
<div class="three columns"> </div>


<div class="three columns"> 

<div class="portraits"><img alt="PORTRAITNAME" src="img/portraits/tiago.jpg"/>

<span class="name">Tiago Martins
</span><br/>

<span class="poste">CEO / Founder
</span><br/>

<span class="whathedo"><a href=# target=_blank><i class=icon>F</i></a><a href=# target=_blank><i class=icon>L</i></a>
</span> 
</div> 
</div> 

<div class="three columns"> 

<div class="portraits"><img alt="PORTRAITNAME" src="img/portraits/pedro.jpg"/>

<span class="name">Pedro Moreira
</span><br/>

<span class="poste">CTO / Founder
</span><br/>

<span class="whathedo"><a href=# target=_blank><i class=icon>L</i></a><a href=# target=_blank><i class=icon>B</i></a>
</span> 
</div> 
</div> 
<div class="three columns"> </div>

</div> </section>
<!-- END WHO ARE US SECTION ############################################### -->
<!-- CONTACT SECTION ############################################### --><section id="contact"> 

<div class="row"> 

<div class="twelve columns centered"> <h2>Contact. <i class="title_line"></i> </h2> 
</div> 
</div> 

<div class="row"> 

<div class="eleven columns centered"> 

<p class="subtittle" >We're currently accepting new client projects.
<br> Think we might help? We'd love to hear from you.</p> 
</div> 
</div> 

<div class="row"> 

<div class="seven columns"> 

<%= render 'form' %>


</div> 

<div class="five columns info"> <h4>Where to meet</h4> 
<br> 


<p>Rua Actor Ferreira da Silva, nยบ 100</p> 

<p>4200-298 Porto</p> 

<p>PORTUGAL</h4> 
<br> 

<p><a href="mailto:tiago@headblendr.com">tiago@headblendr.com</a></p> 


<p><a href="mailto:pedro@headblendr.com">pedro@headblendr.com</a></p> 
</div> 
</div></section>
<!-- END CONTACT SECTION ############################################### -->




