<!-- FOOTER ############################################### --><footer> 

<div class="row"> 

<div class="twelve columns"> <img alt="YOURLOGO" src="img/logo_footer.png"> 
</div> 
</div></footer> 
<!-- END FOOTER ############################################### --> 