<!-- HEADER HOME ############################################### --><section id="home"> 

<div class="row"> 

<div class="twelve columns"> <h1 class="fade-it"><img alt="YOURLOGO" src="https://s3.amazonaws.com/startupcogs-dev/assets/flask.png"></h1> 

<div class="fade-it "> 

<div class="roles"> 



<div> headblendr labs
</div> 
<div> we build love
</div>
</div> 
</div> 
</div> 
<!-- LITTLE LOGO SEE WHAT WE DO --> 

<div id="down_button" class="fade-it"><a href="#whatwedo"></a>
</div> 
<!-- END LITTLE LOGO SEE WHAT WE DO --> 
</div></section>
<!-- END HEADER HOME ############################################### -->
<!-- NAVIGATION ############################################### -->

<div class="nav-container"><nav> 

<div id="logo"><a href="#"><img alt="YOURLOGO" src="img/logo_small.png"></a>
</div>
<ul> 
<li><a href="#home" class="selected">home</a></li>
<li><a href="#whatwedo">what we do</a></li>
<li><a href="#about">who we are</a></li>
<li><a href="#contact">contact</a></li> 
</ul> </nav>
</div> 
<!-- END NAVIGATION ############################################### -->